:root {
    --clr-normal-100: white;
    --clr-normal-300: #333;
    --clr-normal-400: black;

    // COLORS
    // STANDARD
    --clr-border: #690069;
    --clr-primary: #690069;
    --clr-primary-text: white;
    --clr-accent: #550086;
    --clr-accent-text: #white;
    --clr-accent-text-shadow: #333;
    --clr-bg: linear-gradient(135deg, #fffedf, #fffdf1, #fffedf);
    --clr-bg: linear-gradient(135deg, #ffe0ff, #fffdff, #ffe0ff);
    --clr-bullet: #884d00;
    --image-filter: hue-rotate(300deg);

    // FONT SIZES
    --fs-400: 1em;
    --fs-500: 1.3em;
    --fs-600: 1.6em;
    --fs-700: 2.4em;

    // FONT FAMILIES
    --ff-main: Arial, Helvetica, sans-serif;
    --ff-main: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
    --ff-title: Maitree, Georgia, 'Times New Roman', Times, serif;
    --ff-station-number: Maitree, Georgia, 'Times New Roman', Times, serif;
    --ff-station-description: Maitree, Georgia, 'Times New Roman', Times, serif;
    --ff-station-description: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;

    --padding-bg: 3rem;
    --spacer: 0.75em;

    --fw-bold: 900;
    --width-border: 0.15em;

    --min-logo-title-width: 14rem;
    --max-logo-title-width: 50rem;

    --box-shadow-h-offset: 0.25em;
    --box-shadow-v-offset: 0.25em;
    --box-shadow-spread: 0.5em;
    --box-shadow-color: rgba(100, 0, 100, 0.3);
}

@font-face {
    font-family: 'Maitree';
    src: url(./fonts/Maitree/Maitree-Regular.ttf);
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('./fonts/Lbre Baskerville/LibreBaskerville-Regular.ttf');
}

// resets
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 2.2rem;
    font-size: clamp(1rem, 1.75vw, 2.5rem);
    font-family: var(--ff-main);
    color: var(--clr-normal-300);
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

b {
    font-weight: var(--fw-bold);
}

.container {
    background: var(--clr-bg);
    display: flex;
    flex-grow: 1;

    &[vertical] {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--spacer) var(--spacer) 0 var(--spacer);
    }
}

.watermark {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-image: url(./images/sttheodores_header.png);
        background-size: cover;
        bottom: 0.25em;
        right: 0.25em;
        height: 1.5em;
        width: 6em;
        filter: var(--image-filter);
    }
}

.vertically-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bordered {
    position: relative;
    padding: var(--padding-bg);

    &::after {
        position: absolute;
        content: '';
        top: calc(var(--padding-bg) / 2);
        bottom: calc(var(--padding-bg) / 2);
        left: calc(var(--padding-bg) / 2);
        right: calc(var(--padding-bg) / 2);
        border: solid var(--width-border) var(--clr-border);
    }
}

.church-bg {
    position: relative;
    background-image: url(./images/sttheodoremain-2.jpg);
    background-size: cover;
    z-index: 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: var(--clr-bg);
        opacity: 0.9;
        z-index: -1;
    }
}

.title-page {
    text-align: center;

    &__logo {
        filter: var(--image-filter);
        margin-bottom: calc(var(--spacer) * 2);
        width: 100%;

        img {
            width: var(--max-logo-title-width);
            width: clamp(var(--min-logo-title-width), 40%, var(--max-logo-title-width));
        }
    }

    &__title {
        font-size: var(--fs-700);
        color: var(--clr-primary);
        text-shadow: 0.025em 0.025em var(--clr-accent-text-shadow);
        line-height: 1.2;
    }

    &__date {
        font-size: var(--fs-600);
        font-style: italic;
    }

    &__image {
        margin-top: var(--spacer);
        height: 50%;

        & img {
            position: relative;
            height: 100%;
            mix-blend-mode: multiply;
        }
    }

    &__quote {
        position: relative;
        margin-top: calc(var(--spacer) * 2);
        color: var(--clr-accent);
        font-style: italic;

        &::before {
            content: open-quote;
        }

        &::after {
            content: close-quote;
        }
    }

    &__verse {
        font-weight: 600;
    }
}

.header {
    background: var(--clr-primary);
    padding: calc(var(--spacer) / 2) var(--spacer);
    color: var(--clr-primary-text);
    text-align: center;
    box-shadow: 0 var(--box-shadow-v-offset) var(--box-shadow-spread) var(--box-shadow-color);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .station-number {
        font-family: var(--ff-station-number);
        font-style: italic;
    }

    .station-description {
        font-family: var(--ff-station-description);
        text-transform: uppercase;
        font-weight: var(--fw-bold);
    }
}

.heading {
    position: relative;
    display: inline-block;
    font-size: var(--fs-600);
    font-family: var(--ff-title);
    font-weight: 600;
    letter-spacing: 0.025em;
    margin-top: -0.2em;

    &::before {
        content: '';
        position: absolute;
        bottom: 0.25em;
        width: 100%;
        border-bottom: 0.07em solid var(--clr-primary);
    }
}

.station-image {
    width: 25%;

    img {
        background-color: var(--clr-primary);
        width: 100%;
        mix-blend-mode: multiply;
        border: solid var(--width-border) var(--clr-border);
        border-radius: var(--spacer);
        box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset) var(--box-shadow-spread)
            var(--box-shadow-color);
        z-index: 1;
    }

    &[large] {
        width: 75%;

        img {
        }
    }

    &[x-large] {
        width: 90%;
    }
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--spacer);

    .station-image {
        img {
            width: 100%;
        }
    }
    .video {
        position: relative;
        height: 100%;
        width: 100%;

        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background: black;
            border: solid var(--width-border) var(--clr-border);
            box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset) var(--box-shadow-spread)
                var(--box-shadow-color);
        }
    }
}

.station-title {
    div {
        margin-bottom: var(--spacer);

        &::before {
            display: inline-block;
            font-style: italic;
            font-weight: var(--fw-bold);
        }
    }

    .leader::before {
        content: 'Leader';
    }

    .response {
        &::before {
            content: 'Response';
        }
    }
}

.reading {
    margin: var(--spacer);
    width: 50%;

    div::before {
        display: inline-block;
        font-style: italic;
        font-weight: var(--fw-bold);
        margin-bottom: var(--spacer);
    }

    .christ-speaks::before {
        content: 'Christ speaks';
    }

    .reply {
        &::before {
            content: 'I reply';
        }
    }

    p {
        white-space: pre-line;

        &:not(:last-child) {
            margin-bottom: var(--spacer);
        }
    }
}

.float-spacer {
    width: 0;
    height: calc(100% - var(--image-height));

    &-right {
        float: right;
    }

    &-left {
        float: left;
    }

    &-center {
        float: right;
        position: relative;
        left: -50%;
    }
}

.float-image {
    &-right {
        --float-dir: right;
        --margin-left: var(--spacer);
        --margin-right: 0;
    }

    &-left {
        --float-dir: left;
        --margin-left: 0;
        --margin-right: var(--spacer);
    }

    &-center {
        --float-dir: right;
        position: relative;
        right: 50%;
        transform: translate(50%);
        --margin-left: var(--spacer);
        --margin-right: var(--spacer);
    }

    float: var(--float-dir);
    clear: var(--float-dir);
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
    height: var(--image-height);

    & img {
        position: relative;
        height: 100%;
        mix-blend-mode: multiply;
    }
}

.dark-filter {
    position: relative;
    color: var(--clr-normal-100);
    z-index: 0;
    background: unset;

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: -1;
    }
}

.image-circle {
    img {
        border-radius: 50%;
    }
}
