:root {
  --clr-normal-100: white;
  --clr-normal-300: #333;
  --clr-normal-400: black;
  --clr-border: #901010;
  --clr-border: #690069;
  --clr-primary: #5c1c0c;
  --clr-primary: #690069;
  --clr-primary-text: white;
  --clr-accent: #901010;
  --clr-accent: #690069;
  --clr-accent-text: #white;
  --clr-accent-text-shadow: #333;
  --clr-bg: linear-gradient(135deg, #fffedf, #fffdf1, #fffedf);
  --clr-bullet: #884d00;
  --image-filter: none;
  --fs-400: 1em;
  --fs-500: 1.3em;
  --fs-600: 1.6em;
  --fs-700: 2.4em;
  --ff-main: Arial, Helvetica, sans-serif;
  --ff-title: Maitree, Georgia, 'Times New Roman', Times, serif;
  --ff-station-number: Maitree, Georgia, 'Times New Roman', Times, serif;
  --ff-station-description: Maitree, Georgia, 'Times New Roman', Times, serif;
  --padding-bg: 3rem;
  --spacer: 0.75em;
  --fw-bold: 600;
  --width-border: 0.15em;
  --min-logo-title-width: 14rem;
  --max-logo-title-width: 50rem;
}

@font-face {
  font-family: 'Maitree';
  src: url(./fonts/Maitree/Maitree-Regular.ttf);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 2.2rem;
  font-size: clamp(1rem, 1.75vw, 2.5rem);
  font-family: var(--ff-main);
  color: var(--clr-normal-300);
  line-height: 1.4;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  background: var(--clr-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container[vertical] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--spacer);
}

.vertically-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bordered {
  position: relative;
  padding: var(--padding-bg);
}

.bordered::after {
  position: absolute;
  content: '';
  top: calc(var(--padding-bg) / 2);
  bottom: calc(var(--padding-bg) / 2);
  left: calc(var(--padding-bg) / 2);
  right: calc(var(--padding-bg) / 2);
  border: solid var(--width-border) var(--clr-border);
}

.church-bg {
  position: relative;
  background-image: url(../images/sttheodoremain-2.jpg);
  background-size: cover;
  z-index: 0;
}

.church-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--clr-bg);
  opacity: 0.9;
  z-index: -1;
}

.title-page {
  text-align: center;
}

.title-page__logo {
  -webkit-filter: var(--image-filter);
          filter: var(--image-filter);
  margin-bottom: calc(var(--spacer) * 2);
  width: 100%;
}

.title-page__logo img {
  width: var(--max-logo-title-width);
  width: clamp(var(--min-logo-title-width), 40%, var(--max-logo-title-width));
}

.title-page__title {
  font-size: var(--fs-700);
  color: var(--clr-accent);
  text-shadow: 0.025em 0.025em var(--clr-accent-text-shadow);
  line-height: 1.2;
}

.title-page__date {
  font-size: var(--fs-600);
  font-style: italic;
}

.title-page__image {
  margin-top: var(--spacer);
  height: 50%;
}

.title-page__image img {
  position: relative;
  height: 100%;
  mix-blend-mode: multiply;
}

.title-page__quote {
  position: relative;
  margin-top: calc(var(--spacer) * 2);
  color: var(--clr-accent);
  font-style: italic;
}

.title-page__quote::before {
  content: open-quote;
}

.title-page__quote::after {
  content: close-quote;
}

.title-page__verse {
  font-weight: 600;
}

.header {
  background: var(--clr-primary);
  padding: calc(var(--spacer) / 2) var(--spacer);
  color: var(--clr-primary-text);
  text-align: center;
  -webkit-box-shadow: 0 0.15em 0.15em rgba(100, 0, 100, 0.4);
          box-shadow: 0 0.15em 0.15em rgba(100, 0, 100, 0.4);
  z-index: 10;
}

.header .station-number {
  font-family: var(--ff-station-number);
  font-style: italic;
}

.header .station-description {
  font-family: var(--ff-station-description);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}

.heading {
  position: relative;
  display: inline-block;
  font-size: var(--fs-600);
  font-family: var(--ff-title);
  font-weight: 600;
  letter-spacing: 0.025em;
  margin-top: -0.2em;
}

.heading::before {
  content: '';
  position: absolute;
  bottom: 0.25em;
  width: 100%;
  border-bottom: 0.07em solid var(--clr-primary);
}

.content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: var(--spacer);
}

.content .station-image img {
  width: 100%;
}

.content .video {
  position: relative;
}

.content .video::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  border: solid var(--width-border) var(--clr-border);
}

.station-image {
  width: 25%;
}

.station-image img {
  width: 100%;
  mix-blend-mode: multiply;
  border: solid var(--width-border) var(--clr-border);
}

.station-title {
  margin: var(--spacer);
}

.station-title div {
  margin-bottom: var(--spacer);
}

.station-title div::before {
  display: inline-block;
  font-style: italic;
  font-weight: var(--fw-bold);
}

.station-title .leader::before {
  content: 'Leader:';
}

.station-title .response::before {
  content: 'Response:';
}

.reading {
  margin: var(--spacer);
  width: 50%;
}

.reading div::before {
  display: inline-block;
  font-style: italic;
  font-weight: var(--fw-bold);
  margin-bottom: var(--spacer);
}

.reading .christ-speaks::before {
  content: 'Christ speaks:';
}

.reading .reply::before {
  content: 'I reply:';
}

.reading p {
  white-space: pre-line;
}

.reading p:not(:last-child) {
  margin-bottom: var(--spacer);
}

.float-spacer {
  width: 0;
  height: calc(100% - var(--image-height));
}

.float-spacer-right {
  float: right;
}

.float-spacer-left {
  float: left;
}

.float-spacer-center {
  float: right;
  position: relative;
  left: -50%;
}

.float-image {
  float: var(--float-dir);
  clear: var(--float-dir);
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  height: var(--image-height);
}

.float-image-right {
  --float-dir: right;
  --margin-left: var(--spacer);
  --margin-right: 0;
}

.float-image-left {
  --float-dir: left;
  --margin-left: 0;
  --margin-right: var(--spacer);
}

.float-image-center {
  --float-dir: right;
  position: relative;
  right: 50%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  --margin-left: var(--spacer);
  --margin-right: var(--spacer);
}

.float-image img {
  position: relative;
  height: 100%;
  mix-blend-mode: multiply;
}

.dark-filter {
  position: relative;
  color: var(--clr-normal-100);
  z-index: 0;
  background: unset;
}

.dark-filter::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.video {
  position: relative;
  height: 100%;
  width: 100%;
}

.video::before {
  content: '';
  position: absolute;
  background-image: url(../images/sttheodores_header.png);
  background-size: cover;
  bottom: 0;
  left: 0;
  height: 4rem;
  width: 16rem;
  -webkit-filter: var(--image-filter);
          filter: var(--image-filter);
}

.image-circle img {
  border-radius: 50%;
}
/*# sourceMappingURL=styles.css.map */